<div *ngIf="auth.user | async; else  showLogin">
<button (click)="logout()">LogOut</button>

</div>
<div *ngIf="mostraralerta" class="alert alert-danger" role="alert">
  Error en el email o password!
</div>

   <ng-template #showLogin>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" [(ngModel)]="email" name="email">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" [(ngModel)]="password" name="password">
      </div>
    </div>
    
    
    <button  class="btn btn-primary" (click)="loginGoogle()">login with Google</button>
    <button  class="btn btn-primary" (click)="loginEmail()">login with Email</button>

 
   </ng-template>